/* ---------------------------- Structures ----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ---------------- Body ---------------- */
::selection {
	background-color: #E74C3Cbf;
	color: #fff;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #fdfdfd;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
/* ---------------- Body ---------------- */


/* --------------- NavBar --------------- */

/* --------------- NavBar --------------- */

/* --------------- Header --------------- */
.home {
	padding: 10% 0;
}
.home h1 {
	font-size: 45px;
}
.home p {
	font-size: 18px;
}
/* --------------- Header --------------- */
